-# "docs" will collect all the documents in the file 'events.yaml'
- docs = []
- YAML.load_documents(open("src/helpers/events.yaml")){ |doc| docs << doc }
-# at this point docs contains the full content of 'events.yaml'
- docs.each do |listing|
  .element_wrapper
    .side
      %h2= listing["date"]
      %h3= Date.parse(listing["date"]).strftime('%A')
      %P= listing["time"]
    .main
      %h2= listing["title"]
      %h3= listing["subhead"]
      - listing["text"].split("\n").each do |para|
        %p= para